altgraph==0.16.1
auto-py-to-exe==2.6.5
bottle==0.12.17
bottle-websocket==0.2.9
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
detectlanguage==1.3.0
Eel==0.10.4
et-xmlfile==1.0.1
future==0.17.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
idna==2.8
jdcal==1.4.1
numpy==1.17.2
openpyxl==3.0.0
pandas==0.25.1
pefile==2019.4.18
pycparser==2.19
PyInstaller==3.5
PyQt5==5.12.2
PyQt5-sip==4.19.19
pyqt5-tools==5.13.0.1.5
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.2
pywin32==225
pywin32-ctypes==0.2.0
requests==2.22.0
six==1.12.0
urllib3==1.25.6
whichcraft==0.6.1
xlrd==1.2.0
xlwt==1.3.0
